*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: 0px dotted; 
}

#fondo{
    width: 850px;
    height: 550px;
    background-color: grey;
    }
#fondo h2{
    margin-top: 20px;
    margin-left: 250px;
    padding: 5px;
}
.rectangulo{
    width: 840px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}
.imagestyle{
    width: 190px;
    height: 190px;
    margin:5px;
}
#brestore{
    
    width: 200px;
    height: 25px;
    font-style: unset;
    color: white;
    background-color: red;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 320px;
}
